$primaryColor: #0077b5;
$subTitleColor: #a1a1a1;
$titleColor: #222;
$black: #000;
$darkBlue: #595959;
$profileBorder: #acbffa;
$rightPanelBgColor: #f5f6f9;
$secondaryDarkColor: #313335;
$progressBg: #ffbb75;
$inputBorder: #d4d4d4;
$inputColor: #757575;
$white: #ffffff;
$listBg: #f9fbfd;
